<template>
    <div>
        <a v-if="isExternalLink" 
            target="_blank" 
            :href="link.to" 
            :class="isActive ? 'is-active' : 'normal-link' ">
            {{link.name}}
        </a>

        <router-link v-else 
            :to="route" 
            v-slot="{isActive}"> 
                <a :class="isActive ? 'is-active' : 'normal-link' ">
                 {{ link.name }}
                </a>
        </router-link>

    </div>
</template>
<script>
export default {

    props: {
        link: {
            type: Object,
            required: true
        }
    },

    computed: {
        isExternalLink() {
            return this.link.to.startsWith('http')
        },
        route() {
            return this.link.id === undefine ? {name: this.link.to} : { name: this.link.to, params: {id: this.link.id}}
        }
    },
    
}
</script>
<style scope>
.is-active {
    color: #42b983
}

.normal-link {
    color: #c6c5c5
}
    
</style>