<template>
    <div>
        <!-- <router-link :to="{name: 'home'}" >Pokemon List</router-link>
        <router-link :to="{name: 'pokemon-id', params: {id: 5}}">Pokemon id</router-link>
        <router-link :to="{name: 'about'}">Pokemon About</router-link> -->
        <CustomLink v-for="link in links" :key="link.to" :link="link"></CustomLink>
    </div>
</template>

<script>
import { defineAsyncComponent } from 'vue'

export default {

    data() {
        return {
            links: [
                {to: 'pokemon-home', name: 'Pokemon'},
                {to: 'pokemon-id', name: 'Por Id', id: 60},
                {to: 'pokemon-about', name: 'About'},

                {to: 'dbz-character', name: 'Personajes', id: 60},
                {to: 'dbz-about', name: 'dbz-about'},

                {to: 'https//www.google.es', name: 'Google'}
            ]
        }
    },

    components: {
        CustomLink: defineAsyncComponent( () => import('./CustomLink.vue'))
    }
}

</script>

<style scoped>

div {
    padding: 0 30px;
}

div a {
    font-weight: bold;
    color: #2c3e50;
    margin: 0 10px;
}

/* div .router-link-exact-active {
    color: #42b983
} */

</style>