<template>
    <div class="dragonball-layout">
        <h1>DBZ Layout</h1>
        <router-view></router-view>
    </div>
</template>
<script>
export default {
    
}
</script>
<style scope>
.dragonball-layout {
    background-color: deepskyblue;
}
</style>